
  <div class="scene" style="-webkit-transform:rotateX(-9deg) rotateY(-231deg); -moz-transform:rotateX(-9deg) rotateY(-231deg); -ms-transform:rotateX(-9deg) rotateY(-231deg); transform:rotateX(-9deg) rotateY(-231deg); ">
    <div class="carframe macro">
        <div class="shape cuboid-1 frame-bottom-1">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-2 frame-bottom-6">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-3 frame-bottom-2">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-4 frame-bottom-3">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-5 frame-bottom-7">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-6 frame-bottom-5">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-7 frame-bottom-4">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-8 frame-top-6">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-9 frame-top-2">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-10 frame-top-1">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-11 frame-top-8">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-12 frame-top-4">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-13 frame-top-3">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-14 frame-top-5">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-15 frame-top-7">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-16 frame-top-9">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
  </div>
  <div class="carbody macro">

      <div class="shape cuboid-17 body-1">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-18 cub-1">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-19 body-2">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-20 body-3">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-21 glass-1">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-22 glass-4">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-23 glass-3">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-24 glass-2">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-25 glass-5">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-26 glass-6">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
  </div>
  <div class="carwheels macro">

      <div class="shape cuboid-27 wheel-3">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-28 wheel-2">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-29 wheel-4">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-30 wheel-1">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-31 rim-3">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-32 cub-7">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-33 rim-4">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-34 rim-1">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-35 rim-2">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
  </div>
  <div class="carlights macro">
      <div class="shape cuboid-36 cub-2">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="shape cuboid-37 cub-3">
        <div class="face ft">
          <div class="photon-shader"></div>
        </div>
        <div class="face bk">
          <div class="photon-shader"></div>
        </div>
        <div class="face rt">
          <div class="photon-shader"></div>
        </div>
        <div class="face lt">
          <div class="photon-shader"></div>
        </div>
        <div class="face bm">
          <div class="photon-shader"></div>
        </div>
        <div class="face tp">
          <div class="photon-shader"></div>
        </div>
      </div>
  </div>
  <div class="carengine macro">
      <div class="shape cuboid-38 engine">
          <div class="face ft">
            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
          </div>
          <div class="face bk">
            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
          </div>
          <div class="face rt">
            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
          </div>
          <div class="face lt">
            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
          </div>
          <div class="face bm">
            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
          </div>
          <div class="face tp">
            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
          </div>
        </div>
  </div>
</div>

  
