<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>World</title>
  <link rel="stylesheet" href="../css/world.css">
  <!-- <script src="../src/sketch.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
</head>
<body>
  <div class="container">
    <div id="World"></div>
    <div class="buttons"></div>
    <div class="images"></div>
  </div>
  <script src="../src/world.js"></script>
</body>
</html>